Repository in-in/minesweeper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

refactor(cell): update html tag and add styles
  src/components/Cell/index.module.scss
  src/components/Cell/index.tsx
Due: eslint, stylelint

refactor(user-select): add user-select
  src/components/Stat/index.module.scss
  src/components/Toggle/index.module.scss
Due: stylelint

refactor(level): add title and group
  src/components/Level/index.module.scss
  src/components/Level/index.tsx
Due: eslint, stylelint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

fix(node): vercel don't like current version
  Dockerfile
  package-lock.json
  package.json
Due: none

chore(prettier): update config
  .eslintrc.js
  package-lock.json
  package.json
  src/components/Field/index.tsx
Due: eslint

refactor(styles): rename custom functions
  src/components/Button/index.module.scss
  src/components/Cell/index.module.scss
  src/components/Dashboard/index.module.scss
  src/components/Field/index.module.scss
  src/components/Level/index.module.scss
  src/components/Range/index.module.scss
  src/components/Scoretable/index.module.scss
  src/components/Stat/index.module.scss
  src/components/Toggle/index.module.scss
  src/components/Wrapper/index.module.scss
  src/styles/functions.scss
Due: stylelint

refactor(xstate): delete xstate
  package-lock.json
  package.json
  src/components/Dashboard/index.tsx
  src/components/Debug/index.module.scss
  src/components/Debug/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/customTypes/customTypes.ts
  src/index.tsx
  src/state/main.machine.ts
  src/state/mainMachineContext.ts
  src/utils/projectName.ts
  tsconfig.json
Due: eslint, stylelint

chore(packages): update packages
  package-lock.json
  package.json
  tsconfig.json
Due: none

feat(redux): add redux
  package-lock.json
  package.json
  src/state/store.ts
Due: eslint

feat(state): add mainSlice
  src/customTypes/customTypes.ts
  src/index.tsx
  src/state/mainSlice.ts
  src/state/store.ts
Due: eslint

fix(webpack): update source map type
  .config/webpack.config.ts
Due: eslint

chore: update packages and eslint config
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint

refactor(types): add required types
  src/customTypes/customTypes.ts
  src/state/store.ts
  src/utils/hooks.ts
Due: eslint

refactor(field): add currentLevelValue
  src/components/Field/index.tsx
  src/state/mainSlice.ts
Due: eslint

refactor(types): replace types
  src/components/App/index.tsx
  src/components/Button/index.tsx
  src/components/Cell/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/components/Scoretable/index.tsx
  src/components/Stat/index.tsx
  src/components/Toggle/index.tsx
  src/components/Wrapper/index.tsx
Due: eslint

refactor(Level): add levels switch action
  src/components/Level/index.tsx
  src/customTypes/customTypes.ts
  src/state/mainSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(mainSlice): remove hardcoded value
  src/state/mainSlice.ts
Due: eslint

feat(store): save state to localstorage
  src/state/listenerMiddleware.ts
  src/state/store.ts
Due: eslint

refactor(store): add LocalStorageWrapper
  src/state/listenerMiddleware.ts
  src/utils/localStorageWrapper.ts
Due: eslint

feat(store): get initialState from localstorage
  src/state/mainSlice.ts
  src/utils/localStorageWrapper.ts
Due: eslint

feat(range): add updateMinesAmount action
  src/components/Range/index.module.scss
  src/components/Range/index.tsx
  src/state/mainSlice.ts
Due: eslint, stylelint

chore(packages): add ts-reset and update packages
  package-lock.json
  package.json
  src/reset.d.ts
Due: eslint

refactor(store): add var for slice name
  src/state/mainSlice.ts
  src/state/store.ts
  src/utils/constants.ts
Due: eslint

refactor(button): update styles and types
  src/components/Button/index.module.scss
  src/components/Button/index.tsx
  src/components/Dashboard/index.tsx
Due: eslint, stylelint

refactor(mainSlice) rename slice & replace hardcoded value
  src/state/mainSlice.ts
Due: eslint

feat(gameStateSlice): add gameStateSlice & update all related components
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/customTypes/customTypes.ts
  src/state/gameStateSlice.ts
  src/state/store.ts
  src/utils/constants.ts
Due: eslint

refactor(Cell): update types
  src/components/Cell/index.tsx
Due: eslint

refactor(store): get persisted state at loading stage
  src/customTypes/customTypes.ts
  src/state/store.ts
  src/utils/constants.ts
Due: eslint

refactor(slice): rename slices
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/state/gameSlice.ts
  src/state/mainSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(alias): rename aliases
  .config/webpack.config.ts
  .eslintrc.js
  src/components/App/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/components/Wrapper/index.tsx
  src/customTypes/customTypes.ts
  src/declaration.d.ts
  src/index.tsx
  src/store/gameSlice.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/store/store.ts
  src/utils/hooks.ts
  src/utils/localStorageWrapper.ts
  tsconfig.json
Due: eslint

refactor(constants): rename vars
  src/components/Level/index.tsx
  src/customTypes/customTypes.ts
  src/store/gameSlice.ts
  src/store/mainSlice.ts
  src/store/store.ts
  src/utils/constants.ts
Due: eslint

refactor(button): update props type
  src/components/Button/index.tsx
  src/components/Cell/index.tsx
Due: eslint

refactor(types): add new type & update constants
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/gameSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(gameSlice): add ignoredCell field
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/gameSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(field): add new field to state
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/gameSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(slices): delete gameSlice
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/customTypes/customTypes.ts
  src/store/gameSlice.ts
  src/store/mainSlice.ts
  src/store/store.ts
  src/utils/constants.ts
Due: eslint

refactor(mainSlice): add buildField
  src/store/mainSlice.ts
  src/utils/buildField.ts
  src/utils/constants.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
