Repository in-in/minesweeper: changes, and which lefthook commands are due for each by the changed paths.
All: pug-linter, stylelint

lefthook.yml:

pre-commit:
  skip:
    - ref: gh-pages, main
  parallel: true
  commands:
    pug-linter:
      root: "minesweeper/"
      glob: "*.pug"
      run: npx pug-lint -c .config/.pug-lintrc.json {staged_files}
    stylelint:
      root: "minesweeper/"
      glob: "*.scss"
      run: npx stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

refactor(scoretable): add js
  minesweeper/src/components/scoretable/index.js
  minesweeper/src/scripts/main.js
Due: none

refactor(range): add js
  minesweeper/src/components/dashboard/index.js
  minesweeper/src/components/range/index.js
  minesweeper/src/pages/index.pug
Due: pug-linter

refactor(toggle): rename & add js
  minesweeper/src/components/dashboard/index.js
  minesweeper/src/components/switch/index.pug
  minesweeper/src/components/toggle/index.js
  minesweeper/src/components/toggle/index.pug
  minesweeper/src/components/toggle/index.scss
  minesweeper/src/pages/index.pug
  minesweeper/src/styles/styles.scss
Due: pug-linter, stylelint

refactor(stat): add js
  minesweeper/src/components/dashboard/index.js
  minesweeper/src/components/stat/index.js
Due: none

refactor(dashboard): add button
  minesweeper/src/components/button/index.js
  minesweeper/src/components/dashboard/index.js
  minesweeper/src/pages/index.pug
Due: pug-linter

refactor(field): update render method
  minesweeper/src/components/field/index.js
  minesweeper/src/scripts/main.js
Due: none

refactor(wrapper): update render method
  minesweeper/src/components/wrapper/index.js
  minesweeper/src/scripts/main.js
Due: none

refactor(resolver): add aliases
  minesweeper/.config/paths.js
  minesweeper/.config/webpack.config.js
  minesweeper/.eslintignore
  minesweeper/.eslintrc.js
  minesweeper/package-lock.json
  minesweeper/package.json
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/dashboard/index.js
  minesweeper/src/components/field/index.js
  minesweeper/src/components/head/index.pug
  minesweeper/src/components/layout/index.pug
  minesweeper/src/components/level/index.js
  minesweeper/src/components/wrapper/index.js
  minesweeper/src/pages/index.pug
  minesweeper/src/scripts/main.js
  minesweeper/src/scripts/state/state.js
Due: pug-linter

chore(webpack): updat dist paths
  minesweeper/.config/webpack.config.js
  minesweeper/src/components/button/index.js
  minesweeper/src/scripts/state/state.js
  minesweeper/src/scripts/state/store.js
Due: none

fix(webpack): add entry point
  minesweeper/.config/webpack.config.js
Due: none

feat(state): add state
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/field/index.js
  minesweeper/src/components/wrapper/index.js
  minesweeper/src/scripts/main.js
  minesweeper/src/scripts/state/initialState.js
  minesweeper/src/scripts/state/state.js
  minesweeper/src/scripts/state/store.js
Due: none

feat(pubsub): add pubsub
  minesweeper/src/components/button/index.js
  minesweeper/src/components/button/index.scss
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/dashboard/index.js
  minesweeper/src/components/field/index.js
  minesweeper/src/components/level/index.js
  minesweeper/src/components/wrapper/index.js
  minesweeper/src/scripts/state/initialState.js
  minesweeper/src/scripts/state/pubsub.js
  minesweeper/src/scripts/state/state.js
Due: stylelint

refactor(field): add level change handler
  minesweeper/src/components/button/index.scss
  minesweeper/src/components/field/index.js
Due: stylelint

refactor(main): remove class
  minesweeper/src/scripts/main.js
Due: none

refactor(state): update state structure
  minesweeper/src/components/button/index.js
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/field/index.js
  minesweeper/src/components/wrapper/index.js
  minesweeper/src/scripts/state/initialState.js
  minesweeper/src/scripts/state/state.js
Due: none

refactor(cell): update cell generation
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/cell/index.scss
  minesweeper/src/components/dashboard/index.js
  minesweeper/src/components/field/index.js
  minesweeper/src/components/field/index.scss
  minesweeper/src/components/range/index.js
  minesweeper/src/scripts/state/initialState.js
  minesweeper/src/scripts/state/state.js
Due: stylelint

refactor(cell): place mines
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/cell/index.scss
  minesweeper/src/scripts/state/state.js
Due: stylelint

feat(mines): add hint for mine cell
  minesweeper/src/scripts/state/state.js
Due: none

feat(cell): add colors and icons
  minesweeper/src/components/cell/index.scss
  minesweeper/src/images/bomb.svg
Due: stylelint

refactor(state): update initialState value
  minesweeper/src/scripts/state/initialState.js
Due: none

refactor(cell): remove text node
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/cell/index.scss
Due: stylelint

feat(cell): add open\close action
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/cell/index.scss
  minesweeper/src/scripts/state/initialState.js
  minesweeper/src/scripts/state/state.js
Due: stylelint

refactor(input): add disabled state for inputs
  minesweeper/src/components/button/index.scss
  minesweeper/src/components/level/index.js
  minesweeper/src/components/range/index.js
Due: stylelint

feat(state): add play state
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/cell/index.scss
  minesweeper/src/components/field/index.js
  minesweeper/src/components/field/index.scss
  minesweeper/src/components/range/index.js
  minesweeper/src/scripts/state/pubsub.js
  minesweeper/src/scripts/state/state.js
Due: stylelint

feat(state): add restart state
  minesweeper/src/components/button/index.js
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/dashboard/index.js
  minesweeper/src/components/field/index.js
  minesweeper/src/components/level/index.js
  minesweeper/src/components/range/index.js
  minesweeper/src/scripts/state/state.js
Due: none

refactor(field): add cell object
  minesweeper/src/components/cell/index.js
  minesweeper/src/scripts/state/state.js
Due: none

feat(state): add win state
  minesweeper/src/components/cell/index.js
  minesweeper/src/components/field/index.js
  minesweeper/src/components/field/index.scss
  minesweeper/src/scripts/state/state.js
Due: stylelint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

feat(docker): add docker files
  Dockerfile
  docker-compose.yml
Due: none

chore(docker): change node version
  Dockerfile
Due: none

feat(ts): add typescript
  .config/paths.js
  .config/postcss.config.js
  .config/webpack.config.js
  .eslintignore
  .eslintrc.js
  .stylelintrc.js
  package-lock.json
  package.json
  src/components/button/index.ts
  src/components/cell/index.ts
  src/components/dashboard/index.js
  src/components/dashboard/index.ts
  src/components/field/index.js
  src/components/field/index.ts
  src/components/level/index.js
  src/components/level/index.ts
  src/components/range/index.js
  src/components/range/index.ts
  src/components/scoretable/index.js
  src/components/scoretable/index.ts
  src/components/stat/index.js
  src/components/stat/index.ts
  src/components/toggle/index.js
  src/components/toggle/index.ts
  src/components/wrapper/index.js
  src/components/wrapper/index.ts
  src/scripts/main.js
  src/scripts/main.ts
  src/scripts/state/initialState.ts
  src/scripts/state/pubsub.ts
  src/scripts/state/state.ts
  src/scripts/state/store.ts
  tsconfig.json
Due: none

feat(react): add react
  .config/webpack.config.js
  package-lock.json
  package.json
  src/components/App/index.scss
  src/components/App/index.tsx
  src/index.tsx
  src/styles/styles.scss
  src/typings.d.ts
  tsconfig.json
Due: none

feat(webpack): add image handling
  .config/paths.js
  .config/webpack.config.js
  assets/fonts/roboto-regular.woff2
  assets/images/3d-rendering-3.png
  assets/images/RENDER.webp
  assets/images/bomb.svg
  assets/images/favicon.svg
  assets/images/nathan-watson-a4Goc6z9eQs-unsplash.jpg
  assets/images/stanos-c7nhmXymV1Q-unsplash.jpg
  package-lock.json
  package.json
  src/components/App/index.scss
  src/components/App/index.tsx
  src/styles/styles.scss
  src/typings.d.ts
  tsconfig.json
Due: none

fix(prettier): downgrade version
  .config/webpack.config.js
  package-lock.json
  package.json
  src/components/App/index.scss
  src/components/App/index.tsx
  src/typings.d.ts
Due: none

feat(webpack): add css-modules
  .config/webpack.config.js
  package-lock.json
  src/components/App/index.module.scss
  src/components/App/index.tsx
  src/declaration.d.ts
  src/typings.d.ts
Due: none

feat(svg): add svg handling
  .config/webpack.config.js
  assets/images/bomb.svg
  assets/images/nathan.jpg
  assets/images/plane.svg
  assets/images/rendering.png
  assets/images/stanos.jpg
  assets/images/train.svg
  package-lock.json
  package.json
  src/components/App/index.module.scss
  src/components/App/index.tsx
  src/declaration.d.ts
  tsconfig.json
Due: none

fix(alias): update aliases
  src/components/App/index.module.scss
  src/components/App/index.tsx
  src/declaration.d.ts
  tsconfig.json
Due: none

chore(webpack): turn config to ts
  .config/paths.ts
  .config/webpack.config.ts
  package-lock.json
  package.json
  src/declaration.d.ts
  tsconfig.json
Due: none
