Repository in-in/minesweeper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

refactor(reducers): split updateStatus into two reducers
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
Due: eslint

refactor(cell): add new field
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/utils/buildField.ts
Due: eslint

feat(mines): add mines
  src/components/Cell/index.module.scss
  src/components/Cell/index.tsx
  src/components/Field/index.tsx
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/utils/buildField.ts
  src/utils/isRootState.ts
  src/utils/placeMines.ts
Due: eslint, stylelint

style(eslint): update sorting rules
  .eslintrc.js
  src/components/Button/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/components/Toggle/index.tsx
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/store/store.ts
  src/utils/buildField.ts
  src/utils/hooks.ts
  src/utils/placeMines.ts
Due: eslint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

feat(field): add getSurroundingMineCount
  src/utils/buildField.ts
  src/utils/getSurroundingMineCount.ts
Due: eslint

feat(slice): add lose status action
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
Due: eslint

feat(cell): add disabled state
  src/components/Cell/index.module.scss
  src/components/Field/index.tsx
  src/store/mainSlice.ts
Due: eslint, stylelint

chore(webpack): update config
  .config/webpack.config.ts
Due: eslint

feat(mui): add MUI lib and Dialog component
  .eslintrc.js
  package-lock.json
  package.json
  src/components/Dialog/index.tsx
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(mui): update theme
  src/components/Dialog/index.tsx
  src/index.tsx
Due: eslint

refactor(Cell): rename type and key
  src/components/Cell/index.tsx
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/utils/buildField.ts
  src/utils/getSurroundingMineCount.ts
Due: eslint

chore(eslint): update jsx sorting
  .eslintrc.js
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
Due: eslint

refactor(cell): add currentCell
  src/components/Cell/index.module.scss
  src/components/Cell/index.tsx
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/utils/constants.ts
Due: eslint, stylelint

refactor(alias): update path
  src/store/store.ts
  src/utils/buildField.ts
  src/utils/constants.ts
  src/utils/placeMines.ts
Due: eslint

refactor(isRootState): fix naming
  src/utils/isRootState.ts
Due: eslint

refactor(slice): split one reducer into two
  src/components/Field/index.tsx
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
Due: eslint

refactor(state): simplify game mechanics & add win state
  src/components/Cell/index.module.scss
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/utils/buildField.ts
  src/utils/constants.ts
  src/utils/isRootState.ts
  src/utils/placeMines.ts
Due: eslint, stylelint

refactor(types): delete ignoredCell type
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/utils/constants.ts
  src/utils/placeMines.ts
Due: eslint

refactor(buildField): update function signature
  src/store/mainSlice.ts
  src/utils/buildField.ts
  src/utils/constants.ts
  src/utils/placeMines.ts
Due: eslint

feat(reducers): add displayHiddenMines reducer
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
Due: eslint

refactor(eslint): update config
  .eslintrc.js
  package-lock.json
  package.json
  src/components/Button/index.tsx
  src/components/Cell/index.tsx
  src/components/Range/index.tsx
  src/components/Stat/index.tsx
  src/components/Toggle/index.tsx
  src/customTypes/customTypes.ts
  src/declaration.d.ts
  src/utils/buildField.ts
  src/utils/getSurroundingMineCount.ts
Due: eslint

chore(eslint): update config
  .eslintrc.js
Due: eslint

feat(clock): add clock
  src/components/Dashboard/index.tsx
  src/customTypes/customTypes.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(Dialog): add clock time in the final message
  src/components/Dialog/index.tsx
  src/utils/constants.ts
Due: eslint

refactor(clockTime): add formatter
  src/components/Dialog/index.tsx
  src/utils/constants.ts
  src/utils/formatClockTime.ts
Due: eslint

refactor(clock): restart timer after page load
  src/components/App/index.tsx
  src/customTypes/customTypes.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(clock): add new formatter for dashboard view
  src/components/Dashboard/index.tsx
  src/components/Stat/index.module.scss
  src/components/Stat/index.tsx
  src/utils/formatClockTimeToHHMMSS.ts
Due: eslint, stylelint

refactor(turns): display turns on dashboard and final dialog
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/store/mainSlice.ts
  src/utils/constants.ts
  src/utils/formatClockTime.ts
  src/utils/getSuffix.ts
  src/utils/replaceStubsInString.ts
Due: eslint

refactor(helpers): create its own directory
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/store/store.ts
  src/utils/constants.ts
  src/utils/helpers/buildField.ts
  src/utils/helpers/formatClockTime.ts
  src/utils/helpers/formatClockTimeToHHMMSS.ts
  src/utils/helpers/getSuffix.ts
  src/utils/helpers/getSurroundingMineCount.ts
  src/utils/helpers/localStorageWrapper.ts
  src/utils/helpers/placeMines.ts
  src/utils/helpers/projectName.ts
  src/utils/helpers/replaceStubsInString.ts
Due: eslint

refactor(selectors): create its own directory
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/store/mainSlice.ts
  src/store/selectors.ts
Due: eslint

chore(packages): update
  package-lock.json
  package.json
Due: none

refactor(selectors): rename selector
  src/components/Range/index.tsx
  src/store/selectors.ts
Due: eslint

feat(flags): add fllags
  src/components/Cell/index.module.scss
  src/components/Cell/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/utils/constants.ts
  src/utils/helpers/buildField.ts
  src/utils/helpers/placeMines.ts
Due: eslint, stylelint

refactor(slice): marking mines with flag in win state
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
Due: eslint

fix(flagCount): add correct number to counter
  src/store/mainSlice.ts
Due: eslint

refactor(minesAmount): rename to minesCount
  src/components/Range/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/utils/constants.ts
  src/utils/helpers/placeMines.ts
Due: eslint

refactor(cell): add flag icon
  package-lock.json
  package.json
  src/components/Cell/index.module.scss
  src/components/Cell/index.tsx
Due: eslint, stylelint

refactor(cell): update icon, add new colors
  assets/images/bomb.svg
  src/components/Cell/index.module.scss
  src/components/Cell/index.tsx
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
