Repository in-in/minesweeper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

refactor(field): rename import
  src/components/Field/index.tsx
Due: eslint

refactor(Scoretable): add real data to table
  src/components/Scoretable/Scoretable.tsx
  src/components/Scoretable/index.module.scss
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
Due: eslint, stylelint

refactor(Scoretable): add DataGrid
  package-lock.json
  package.json
  src/components/Scoretable/Scoretable.tsx
  src/components/Scoretable/index.module.scss
Due: eslint, stylelint

feat(scoretable): add modal
  src/components/Scoretable/Scoretable.tsx
  src/components/Wrapper/index.tsx
Due: eslint

refactor(Dashboard): update mobile view
  src/components/Dashboard/index.tsx
  src/components/Wrapper/index.tsx
Due: eslint

refactor(Range): update styles
  src/components/Range/index.tsx
Due: eslint

refactor(Scoretable): adjust columns width
  src/components/Scoretable/Scoretable.tsx
Due: eslint

refactor(Scoretable): move Dialog to Wrapper
  src/components/Scoretable/Scoretable.tsx
  src/components/Wrapper/index.tsx
Due: eslint

test(scoretable): add test case
  cypress/e2e/scoretable.spec.ts
  cypress/fixtures/initialState.json
  src/components/Dashboard/index.tsx
  src/components/Scoretable/Scoretable.tsx
  src/components/Wrapper/index.tsx
Due: eslint

feat(spinner): add spinner component and update test case
  cypress/e2e/scoretable.spec.ts
  src/components/Wrapper/index.tsx
Due: eslint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

feat(sound): add sound effects
  config/build/buildModule.ts
  src/assets/sounds/click.mp3
  src/components/Dashboard/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/types/globals.d.ts
  src/utils/constants.ts
Due: eslint

refactor(hooks): add custom hook and update path
  src/components/App/index.tsx
  src/components/Cell/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/components/Scoretable/Scoretable.tsx
  src/components/Wrapper/index.tsx
  src/utils/hooks/store.ts
  src/utils/hooks/useSound.ts
Due: eslint

feat(sound): add sound effects for all events
  src/assets/sounds/click.mp3
  src/assets/sounds/dropdown.mp3
  src/assets/sounds/explosion.mp3
  src/assets/sounds/failure.mp3
  src/assets/sounds/highlight.mp3
  src/assets/sounds/level.mp3
  src/assets/sounds/pop.mp3
  src/assets/sounds/revealCell.mp3
  src/assets/sounds/stick.mp3
  src/assets/sounds/switch.mp3
  src/assets/sounds/tada.mp3
  src/components/Cell/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/components/Wrapper/index.tsx
Due: eslint

refactor(dialog): rename aria attributes
  src/components/Dialog/index.tsx
Due: eslint

feat(Scoretable): limit saving items in table
  src/components/Scoretable/Scoretable.tsx
  src/store/mainSlice.ts
Due: eslint

refactor(revealSurroundingCells): open the remaining cells
  config/build/buildModule.ts
  config/build/transformers/removeJsxAttributes.ts
  cypress/e2e/openSurroundingCells.spec.ts
  cypress/fixtures/initialState.json
  src/components/Cell/index.tsx
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
Due: eslint

test(scoretable): check Next button
  cypress/e2e/scoretable.spec.ts
  cypress/fixtures/initialStateScoretable.json
Due: eslint

chore(license): create license
  LICENSE
Due: none

docs: update readme
  README.md
  package.json
Due: none

docs(readme): update how to use section
  README.md
Due: none

build(compose): remove env_file
  docker-compose.yml
Due: none

chore(vercel): update headers
  vercel.json
Due: none

chore(vercel): update content-security-policy
  vercel.json
Due: none

fix(docker): add missing PORT
  docker-compose.yml
Due: none

refactor(styles): update reset
  src/styles/reset.scss
Due: stylelint

refactor(a11y): add label to button
  src/components/Dashboard/index.tsx
Due: eslint

fix(vercel): typo
  vercel.json
Due: none

feat(app): add copyright
  src/components/App/index.module.scss
  src/components/App/index.tsx
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
