Repository in-in/minesweeper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

refactor(types): change type of currentSelectCell
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/utils/helpers/buildField.ts
  src/utils/helpers/placeMines.ts
Due: eslint

refactor(currentSelectCell): replace with currentSelectCellId
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/utils/constants.ts
  src/utils/helpers/buildField.ts
  src/utils/helpers/placeMines.ts
Due: eslint

feat(mainSlice): add openSurroundingCells
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
Due: eslint

refactor(store): add turnCounter
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/utils/constants.ts
Due: eslint

refactor(Counter): rename Count to Counter
  cypress/e2e/flag.spec.ts
  src/components/Dashboard/index.tsx
  src/components/Range/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/utils/constants.ts
  src/utils/helpers/placeMines.ts
Due: eslint

fix(listenerMiddleware): add openSurroundingCells to middleware
  src/store/listenerMiddleware.ts
Due: eslint

chore: update formatting
  vercel.json
Due: none

refactor(projectName): add alias
  cypress/tsconfig.json
  src/utils/helpers/projectName.ts
  tsconfig.json
Due: eslint

test(openSurroundingCells): add test case
  cypress/e2e/openSurroundingCells.spec.ts
  cypress/fixtures/field.json
  cypress/fixtures/initialState.json
  cypress/support/commands.ts
  cypress/tsconfig.json
  src/cypress.d.ts
  src/index.tsx
  src/store/store.ts
  tsconfig.json
Due: eslint

test(openSurroundingCells): update flaky cases
  cypress/e2e/field.spec.ts
  cypress/e2e/finish.spec.ts
  cypress/e2e/openSurroundingCells.spec.ts
  cypress/e2e/stats.spec.ts
Due: eslint

refactor(mainSlice): add createEntityAdapter for key field
  src/customTypes/customTypes.ts
  src/store/fieldAdapter.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/store/store.ts
  src/utils/constants.ts
  src/utils/helpers/highlightSurroundingCells.ts
  src/utils/helpers/localStorageWrapper.ts
Due: eslint

refactor(customTypes): rename type
  src/customTypes/customTypes.ts
Due: eslint

test(field): update data structure and add new test case
  cypress/e2e/field.spec.ts
  cypress/e2e/openSurroundingCells.spec.ts
  cypress/fixtures/field.json
  cypress/fixtures/initialState.json
Due: eslint

refactor(react): remove React from scope
  .eslintrc.js
  src/components/App/index.tsx
  src/components/Button/index.tsx
  src/components/Cell/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/components/Range/index.tsx
  src/components/Scoretable/index.tsx
  src/components/Stat/index.tsx
  src/components/Toggle/index.tsx
  src/components/Wrapper/index.tsx
  src/customTypes/customTypes.ts
  src/index.tsx
  tsconfig.json
Due: eslint

refactor(currentLevel): modify data structure
  cypress/e2e/field.spec.ts
  cypress/e2e/level.spec.ts
  cypress/e2e/restart.spec.ts
  cypress/fixtures/initialState.json
  cypress/tsconfig.json
  src/components/Field/index.tsx
  src/components/Level/index.tsx
  src/customTypes/customTypes.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/utils/constants.ts
  src/utils/helpers/buildField.ts
  src/utils/helpers/placeMines.ts
Due: eslint

refactor(types): update type name
  src/utils/helpers/getSurroundingCells.ts
  src/utils/helpers/getSurroundingMineCount.ts
Due: eslint

chore(packages): update packages
  package-lock.json
  package.json
Due: none

refactor(helpers): remove addTestId
  src/components/Cell/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Dialog/index.tsx
  src/components/Field/index.tsx
  src/components/Range/index.tsx
  src/utils/helpers/addTestId.ts
Due: eslint

build: add dotenv
  .gitignore
  cypress/cypress.config.ts
  docker-compose.yml
  package-lock.json
  package.json
  webpack.config.ts
Due: eslint

fix(field): remove cell highlight sticking
  src/components/Field/index.tsx
Due: eslint

fix(index): back to previous option
  src/index.html
Due: none

refactor(button): replace button with mui button
  src/components/Button/index.module.scss
  src/components/Button/index.tsx
  src/components/Dashboard/index.tsx
Due: eslint, stylelint

refactor(toggle): replace toggle with mui checkbox
  src/components/Dashboard/index.tsx
  src/components/Toggle/index.module.scss
  src/components/Toggle/index.tsx
Due: eslint, stylelint

refactor(stat): add mui components
  src/components/Dashboard/index.tsx
  src/components/Stat/index.module.scss
  src/components/Stat/index.tsx
Due: eslint, stylelint

refactor(cell): update component structure
  src/components/Cell/index.module.scss
  src/components/Cell/index.tsx
  src/components/Field/index.tsx
Due: eslint, stylelint

refactor(dashboard): move level into dashboard
  src/components/Dashboard/index.module.scss
  src/components/Dashboard/index.tsx
  src/components/Field/index.module.scss
  src/components/Level/index.tsx
  src/components/Wrapper/index.module.scss
  src/components/Wrapper/index.tsx
  src/styles/vars.scss
Due: eslint, stylelint

refactor(app): add CssBaseline
  src/components/App/index.module.scss
  src/index.tsx
Due: eslint, stylelint

refactor(wrapper): add additional classnames and delete dead css
  src/components/Dashboard/index.module.scss
  src/components/Dashboard/index.tsx
  src/components/Field/index.module.scss
  src/components/Field/index.tsx
  src/components/Scoretable/index.module.scss
  src/components/Scoretable/index.tsx
  src/components/Wrapper/index.module.scss
  src/components/Wrapper/index.tsx
Due: eslint, stylelint

refactor(cleanup): remove unused css variables
  src/components/Scoretable/index.module.scss
  src/styles/vars.scss
Due: stylelint

feat(theme): add light & dark theme
  src/components/App/index.tsx
  src/components/Dashboard/index.tsx
  src/customTypes/customTypes.ts
  src/index.tsx
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/utils/constants.ts
Due: eslint

test(field): update test
  cypress/e2e/field.spec.ts
  cypress/support/commands.ts
  src/components/Cell/index.tsx
Due: eslint

test: update selectors
  cypress/e2e/finish.spec.ts
  cypress/e2e/flag.spec.ts
  cypress/e2e/level.spec.ts
  cypress/e2e/openSurroundingCells.spec.ts
  src/components/Cell/index.tsx
Due: eslint

test(theme): add new test case
  cypress/e2e/theme.spec.ts
  src/components/Dashboard/index.tsx
Due: eslint

refactor(breakpoint): remove breakpoints from css files
  package.json
  src/components/Dashboard/index.module.scss
  src/components/Dashboard/index.tsx
  src/components/Field/index.tsx
  src/components/Scoretable/index.tsx
  src/components/Wrapper/index.module.scss
  src/components/Wrapper/index.tsx
  src/styles/functions.scss
  src/styles/mixins.scss
  src/styles/vars.scss
Due: eslint, stylelint

refactor(field): remove useless custom properties and style file
  src/components/Field/index.module.scss
  src/components/Field/index.tsx
Due: eslint, stylelint

feat(Scoretable): add lazy-load
  src/components/Dashboard/index.tsx
  src/components/Scoretable/Scoretable.tsx
  src/components/Scoretable/index.tsx
  src/components/Wrapper/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/utils/constants.ts
Due: eslint

refactor(store): rename adapters
  src/store/adapters.ts
  src/store/fieldAdapter.ts
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
  src/store/selectors.ts
  src/utils/constants.ts
Due: eslint

refactor(cell): move colors to constants
  src/components/Cell/index.tsx
  src/utils/constants.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
