Repository in-in/minesweeper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint --max-warnings=0 --fix {staged_files} && git add {staged_files}

test(field): add test
  jest.config.js
  package-lock.json
  package.json
  src/components/Field/index.tsx
  src/components/Field/test.tsx
  src/index.tsx
  src/store/store.ts
  src/utils/helpers/test-utils.tsx
  tsconfig.test.json
Due: eslint

test: add addTestId func
  src/components/Field/index.tsx
  src/utils/helpers/addTestId.ts
Due: eslint

fix(NODE_ENV): update NODE_ENV at compile time
  .config/webpack.config.ts
  src/utils/helpers/addTestId.ts
Due: eslint

build(tsconfig): add extends
  tsconfig.test.json
Due: none

chore(packages): upate
  package-lock.json
  package.json
Due: none

test(cypress): add cypress
  Dockerfile
  cypress.config.mjs
  cypress/e2e/spec.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  jest.config.js
  package-lock.json
  package.json
  src/components/Field/test.tsx
  tsconfig.test.json
Due: eslint

test(field): field should contain 100 buttons
  .config/webpack.config.ts
  cypress/cypress.config.mjs
  cypress/e2e/field.cy.ts
  cypress/e2e/spec.cy.ts
  package-lock.json
  package.json
  src/components/Field/test.tsx
Due: eslint

refactor(level): replace buttons with radio buttons
  src/components/Level/index.module.scss
  src/components/Level/index.tsx
Due: eslint, stylelint

test(level): сheck interactions of field and buttons
  .eslintrc.js
  cypress/e2e/level.cy.ts
  package.json
Due: eslint

test(eslint): add plugin
  .eslintrc.js
  package-lock.json
  package.json
  src/utils/helpers/test-utils.tsx
Due: eslint

test(cell): check surrounding mine count
  cypress/e2e/flag.cy.ts
  cypress/e2e/surroundingMineCount.cy.ts
  src/components/Cell/index.tsx
Due: eslint

test: rename files
  .eslintrc.js
  cypress/cypress.config.mjs
  cypress/e2e/field.spec.ts
  cypress/e2e/flag.spec.ts
  cypress/e2e/level.spec.ts
  cypress/e2e/surroundingMineCount.spec.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  dockerfile
Due: eslint

refactor(test): add path aliases
  cypress/cypress.config.mjs
  cypress/cypress.config.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/customTypes/customTypes.ts
  src/utils/helpers/getSurroundingMineCount.ts
Due: eslint

test(level): add beforeEach and loop
  cypress/e2e/level.spec.ts
Due: eslint

test: add custom command
  cypress/e2e/field.spec.ts
  cypress/e2e/flag.spec.ts
  cypress/e2e/level.spec.ts
  cypress/e2e/surroundingMineCount.spec.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: eslint

refactor(range): add mui select
  src/components/Range/index.module.scss
  src/components/Range/index.tsx
Due: eslint, stylelint

style(eslint): update sort-imports
  .config/webpack.config.ts
  .eslintrc.js
  src/components/Button/index.tsx
  src/components/Cell/index.tsx
  src/components/Dialog/index.tsx
  src/components/Level/index.tsx
  src/components/Scoretable/index.tsx
  src/index.tsx
  src/store/listenerMiddleware.ts
  src/store/mainSlice.ts
Due: eslint

test(surrounding): set number of mines for all variants to appear
  cypress/e2e/surroundingMineCount.spec.ts
  cypress/support/commands.ts
  src/components/Range/index.tsx
Due: eslint

chore(lefthook): add pre-push hook
  lefthook.yml
Due: none

chore(cleanup): remove useless folder and update gitignore
  .gitignore
  .vscode/settings.json
  src/data/data.json
Due: none

test(e2e): check finish status
  cypress/e2e/finish.spec.ts
  src/components/Dialog/index.tsx
Due: eslint

test(commands): add new custom command
  cypress/e2e/finish.spec.ts
  cypress/e2e/surroundingMineCount.spec.ts
  cypress/support/commands.ts
Due: eslint

test(flags): add new test cases
  cypress/e2e/flag.spec.ts
  src/components/Dashboard/index.tsx
  src/components/Stat/index.tsx
Due: eslint

test(timer): add timer test
  cypress/e2e/timer.spec.ts
  src/components/Dashboard/index.tsx
Due: eslint

test(stat): add turn counter
  cypress/e2e/stats.spec.ts
  src/components/Dashboard/index.tsx
Due: eslint

refactor(addTestId): remove useless var
  src/components/Dialog/index.tsx
  src/components/Field/index.tsx
  src/components/Range/index.tsx
Due: eslint

test(restart): check restart button
  cypress/e2e/field.spec.ts
  cypress/e2e/restart.spec.ts
  src/components/Dashboard/index.tsx
Due: eslint

test(dialog): test message text
  cypress/e2e/finish.spec.ts
  src/components/Field/index.tsx
  src/components/Wrapper/index.tsx
Due: eslint

test(field): check active class in open cell
  cypress/e2e/field.spec.ts
Due: eslint

test(cypress): add new script
  package.json
Due: none

style: update export formatting
  src/utils/helpers/buildField.ts
  src/utils/helpers/placeMines.ts
Due: eslint

refactor(helpers): add getSurroundingCells
  src/utils/helpers/getSurroundingCells.ts
  src/utils/helpers/getSurroundingMineCount.ts
Due: eslint

feat(mainSlice): add revealSurroundingCells
  src/components/Cell/index.module.scss
  src/components/Cell/index.tsx
  src/components/Field/index.tsx
  src/customTypes/customTypes.ts
  src/store/mainSlice.ts
  src/utils/helpers/highlightSurroundingCells.ts
Due: eslint, stylelint

refactor(cell): change flag color in lose status
  src/components/Cell/index.tsx
  src/store/selectors.ts
Due: eslint

test(finish): lose with incorrect flag
  cypress/e2e/finish.spec.ts
Due: eslint

chore(packages): update node and packages
  dockerfile
  package-lock.json
  package.json
Due: none

test(cypress): update config and remove .only
  cypress/cypress.config.ts
  cypress/e2e/finish.spec.ts
Due: eslint

test(field): highlight surrounding cells
  cypress/e2e/field.spec.ts
Due: eslint

chore(eslint): update config
  .eslintrc.js
Due: eslint

refactor(getSurroundingCells): add overload for function
  src/store/mainSlice.ts
  src/utils/helpers/getSurroundingCells.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
